.EventList {
  background-color: floralwhite;
  color: #252422ff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  list-style: none;
  margin: 120px 40px;
  padding: 10px;
}